.header {
	width: 100%;
	position: relative;
	// min-height: 150px;
	// background-image: url("../images/background.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.logo-header {
	padding-top: 10px;
}