.title-post {
	margin-top: 0;
	margin-bottom: 25px;
	font-size: 220%;
	font-weight: bold;
}

.even-row {
	background-color: lighten($color_grey, 40%);
}

.exclusive-post-img {
	position: relative;
	float: left;
	margin: 0 15px 0 0;
	display: block;

	img {
		min-height: 290px;
		max-height: 290px;
		width: auto;
	}
}